Performing analysis on ADA-USD data, date range of 2017-10-01 to 2021-09-04.

In [42]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
plt.style.use("seaborn")

In [28]:
#read in the dataframe
ada = pd.read_csv("ADA-USD.csv", parse_dates = ["Date"], index_col = "Date")

Inspecting the Data

In [29]:
ada.head()

                Open      High       Low     Close  Adj Close      Volume
Date
2017-10-01  0.021678  0.032226  0.017354  0.024969   0.024969  50068700.0
2017-10-02  0.024607  0.030088  0.019969  0.025932   0.025932  57641300.0
2017-10-03  0.025757  0.027425  0.020690  0.020816   0.020816  16997800.0
2017-10-04  0.020864  0.022806  0.020864  0.021931   0.021931   9000050.0
2017-10-05  0.021951  0.022154  0.020859  0.021489   0.021489   5562510.0

Getting a concise summary of the data

In [30]:
#inspect the data
ada.info

<bound method DataFrame.info of                 Open      High       Low     Close  Adj Close        Volume
Date
2017-10-01  0.021678  0.032226  0.017354  0.024969   0.024969  5.006870e+07
2017-10-02  0.024607  0.030088  0.019969  0.025932   0.025932  5.764130e+07
2017-10-03  0.025757  0.027425  0.020690  0.020816   0.020816  1.699780e+07
2017-10-04  0.020864  0.022806  0.020864  0.021931   0.021931  9.000050e+06
2017-10-05  0.021951  0.022154  0.020859  0.021489   0.021489  5.562510e+06
...              ...       ...       ...       ...        ...           ...
2021-08-31  2.737641  2.877878  2.706473  2.772475   2.772475  5.085984e+09
2021-09-01  2.769947  2.902614  2.726327  2.870767   2.870767  4.652639e+09
2021-09-02  2.869750  3.099186  2.839781  2.963438   2.963438  7.376032e+09
2021-09-03  2.959315  3.029436  2.907606  2.968239   2.968239  5.244577e+09
2021-09-04  2.960665  2.966121  2.921135  2.930362   2.930362  4.746497e+09

[1435 rows x 6 columns]>

Summary statistics of the data

In [33]:
ada.describe()

,Open,High,Low,Close,Adj Close,Volume
count,1431.000000,1431.000000,1431.000000,1431.000000,1431.000000,1.431000e+03
mean,0.319708,0.337130,0.302364,0.321734,0.321734,1.005328e+09
std,0.520927,0.549858,0.494055,0.525482,0.525482,2.199785e+09
min,0.018414,0.021050,0.017354,0.018539,0.018539,1.739460e+06
25%,0.046842,0.048389,0.045401,0.046886,0.046886,5.169782e+07
50%,0.090832,0.094088,0.087401,0.090867,0.090867,1.276780e+08
75%,0.242979,0.258416,0.229075,0.244634,0.244634,6.083750e+08
max,2.960665,3.099186,2.921135,2.968239,2.968239,1.914198e+10

Using the loc operator to get the data of 2021-09-04

In [35]:
ada.loc["2021-09-04"]

Open         2.960665e+00
High         2.966121e+00
Low          2.921135e+00
Close        2.930362e+00
Adj Close    2.930362e+00
Volume       4.746497e+09
Name: 2021-09-04 00:00:00, dtype: float64

__Create a Timestamp__ for 2017-10-05, 2018-02-11, and 2021-09-01

In [36]:
pd.to_datetime("2017-10-05")

Timestamp('2017-10-05 00:00:00')

In [37]:
pd.to_datetime("2018-02-11")

Timestamp('2018-02-11 00:00:00')

In [38]:
pd.to_datetime("2021-09-01")

Timestamp('2021-09-01 00:00:00')

__Change Frequency__ of stocks to __monthly__ and for Wednesday to Friday.

In [40]:
ada.resample("D").last()

                Open      High       Low     Close  Adj Close        Volume
Date
2017-10-01  0.021678  0.032226  0.017354  0.024969   0.024969  5.006870e+07
2017-10-02  0.024607  0.030088  0.019969  0.025932   0.025932  5.764130e+07
2017-10-03  0.025757  0.027425  0.020690  0.020816   0.020816  1.699780e+07
2017-10-04  0.020864  0.022806  0.020864  0.021931   0.021931  9.000050e+06
2017-10-05  0.021951  0.022154  0.020859  0.021489   0.021489  5.562510e+06
...              ...       ...       ...       ...        ...           ...
2021-08-31  2.737641  2.877878  2.706473  2.772475   2.772475  5.085984e+09
2021-09-01  2.769947  2.902614  2.726327  2.870767   2.870767  4.652639e+09
2021-09-02  2.869750  3.099186  2.839781  2.963438   2.963438  7.376032e+09
2021-09-03  2.959315  3.029436  2.907606  2.968239   2.968239  5.244577e+09
2021-09-04  2.960665  2.966121  2.921135  2.930362   2.930362  4.746497e+09

[1435 rows x 6 columns]

In [41]:
ada.resample("W-Fri").last()

                Open      High       Low     Close  Adj Close        Volume
Date
2017-10-06  0.021359  0.021542  0.018360  0.018539   0.018539  7.780710e+06
2017-10-13  0.026061  0.033816  0.025195  0.033641   0.033641  1.561360e+07
2017-10-20  0.026982  0.030855  0.026612  0.030630   0.030630  8.716410e+06
2017-10-27  0.027138  0.027463  0.025674  0.026382   0.026382  2.511440e+06
2017-11-03  0.021418  0.023213  0.019827  0.022628   0.022628  2.836080e+06
...              ...       ...       ...       ...        ...           ...
2021-08-13  1.832760  2.145926  1.828374  2.136079   2.136079  7.661020e+09
2021-08-20  2.437795  2.575276  2.378612  2.457702   2.457702  8.323305e+09
2021-08-27  2.531772  2.944447  2.498699  2.944197   2.944197  8.077144e+09
2021-09-03  2.959315  3.029436  2.907606  2.968239   2.968239  5.244577e+09
2021-09-10  2.960665  2.966121  2.921135  2.930362   2.930362  4.746497e+09

[206 rows x 6 columns]